body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
}
.date-updated {
  font-size: 14px;
}
